/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -px;
    margin-right: -12px;
}

.grid__colunm-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.667%;
}

.grid__colunm-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.333%;
}

.grid__colunm-5 {
    padding-left: 12px;
    padding-right: 12px;
    width: 20%;
}